<div class="row">
    <div class="row">
        <h3>[% site.name %]</h3>  
        <hr>
        <p>[% site.about %]</p>
    </div>

    <div class="row">
        [% FOREACH product IN products %]  
        [% INCLUDE "product/list.html.tt" %]
        [% END %]
    </div>
    [% INCLUDE "widgets/pager.html.tt" %]
</div>

