<li><a href="/">首页</a></li>
<li><a href="/">投资理财</a></li>
<li><a href="/sites">投资网站</a></li>
<li><a href="/about">关于HaoP2P</a></li>
<li><a href="mailto:admin@haop2p.net?subject=feedback">联系我们</a></li>
