<div class="row small-centered large-centered">
    <span class="label warning round Radius">免责声明：<a href="/">HaoP2P.net</a> 所有投资项目均来自平台方, 仅作项目收集展示, 不代表平台安全性, 不构成投资建议！请谨慎选择参与投资, <a href="/">HaoP2P.net</a>不承担相关责任。</span>
</div>

