<!DOCTYPE html>
<html lang="zh-cn">
    <title>[% IF title; title _ ' - '; END; -%] HaoP2P haop2p.net</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="[% config.sites.static %]/css/foundation.css" rel="stylesheet">
    <link href="[% config.sites.static %]/css/app.css" rel="stylesheet">
    <script type="text/javascript" src="[% config.sites.static %]/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="[% config.sites.static %]/js/vendor/what-input.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="[% config.sites.static %]/favicon.ico" />
    </head>
    <body>

        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area v-align">
                <li class="name">
                    <h1><a href="/"> 欢迎来到HaoP2P，投资理财-乐在其中!</li></a></h1>
                </li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    [% INCLUDE links %]
                </ul>

                <!-- Left Nav Section -->
                <ul class="left">
                </ul>
            </section>
        </nav>

        <div class="row" style="margin-top: 15px;">
            [% content %]
        </div>
        <div class="footer-bottom ng-scope">
            <div class="row">
                <div class="large-8  medium-8 grid-content column">
                    <ul class="inline-list footer-links">
                        <li> <a href="http://www.haop2p.net" class="footer-icon"></a></li>
                        [% INCLUDE links %]
                    </ul>
                    <p class="copyright">© 2016 HaoP2P.net, Inc. All rights reserved.</p>
                </div>
                <div class="large-4 medium-4 grid-content sns-icon column" style="display:none">
                  <ul class="inline-list">
                        <li><a href="http://twitter.com/haop2p"><img src="/img/twtter.png" alt="Twitter icon"></a></li>
                        <li><a href="http://facebook.com/haop2p"><img src="/img/facebook.png" alt="Facebook icon"></a></li>
                        <li><a href="http://facebook.com/haop2p"><img src="/img/gplus.png" alt="Google Plus icon"></a></li>
                        <li><a href="mailto:admin@haop2p.net"><img src="/img/email.png" alt="Mail icon"></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </body>
</html>

[% BLOCK links %]
<li><a href="/">首页</a></li>
<li><a href="/">投资理财</a></li>
<li><a href="/about">关于HaoP2P</a></li>
<li><a href="mailto:admin@haop2p.net?subject=feedback">联系我们</a></li>
[% END %]
